.blue {
    color: blue;
    font-size: 100px;
}

.red {
    background-color: red;
}

#title {
    color: blue;
}

#blue {
    color: blue;
    font-size: 100px;
}

#green {
    background-color: green;
}